* {
    color: rgb(203, 241, 253);
}

.FHeight {
    height: 100vh;
}

.pagination a {
    color: rgb(203, 241, 253) !important;
    background-color: #343a40 !important;
}

.pagination a:hover {
    background-color: #ffffff1f !important;
}

.pagination a:focus {
    color: #90e1ee !important;
    background-color:#0a556182 !important;
}

.tableTdId {
    width: 5%;
    text-align: center;
}
.tableTdNome {
    width: 42%;
}
.tableTdSobreNome {
    width: 42%;
}
.tableTdAcao {
    width: 10%;
    text-align: center;
}

.glyphicon {
    cursor: pointer;
}